<div class="main-container">
  <div class="row">
    <button (click)="selectButton(1)" [class.mat-active]="isButtonSelected(1)" color="primary" extended mat-fab
            routerLink="../pets"
            routerLinkActive="active">
      All
    </button>
    <button (click)="selectButton(2)" [class.mat-active]="isButtonSelected(2)" color="primary" extended mat-fab
            routerLink="../pets"
            routerLinkActive="active">
      Doggies
    </button>
    <button (click)="selectButton(3)" [class.mat-active]="isButtonSelected(3)" color="primary" extended mat-fab
            routerLink="../pets"
            routerLinkActive="active">
      Kitties
    </button>
    <mat-form-field class="search-input">
      <mat-label>Search animals by name</mat-label>
      <input matInput/>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
  </div>

</div>
