.main-container {
  background-color: rgba(94, 53, 177, 0.6);
  margin: 3% 4% 2% 4%;
  border-radius: 10px;
  outline: 5px solid white;
  height: 100vh;
}

.row {
  padding: 1% 1% 1% 2%;
}

.row button {
  width: 15%;
  border-radius: 10px;
  margin: 1% 2% 2% 1%;
  font-size: 1.5em;
  background-color: rgba(255, 224, 130, 1);
}

.row button:active {
  text-decoration: underline;
  background-color: black;
}

input {
  width: 20%;
  margin: 1.5% 0 2% 20%;
  border-radius: 10px;
}

input:focus {
  outline: 4px solid #FFE082;
}

.icon-display {
  margin: 2% 0 2% 0;
  transform: scale(1.5);
}
