.underline-text {
  border-bottom: 2px solid #e7d619;
  font-size: 1.2em;
  margin-bottom: 30px;
}

span, .fab {
  font-size: 1.3em;
}

.link-icons {
  margin-right: 0.5%;
}

img {
  margin-bottom: 2%;
}
