<footer
  class="text-center text-lg-start text-white"
  style="background-color: #5E35B1">
  <section
    class="d-flex justify-content-between p-4"
    style="background-color: #e7d619"
  >
    <div class="me-5">
      <span>Get connected with us on social networks:</span>
    </div>
    <div class="link-icons">
      <a class="text-white me-4" href="">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="text-white me-4" href="">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="text-white me-4" href="">
        <i class="fab fa-google"></i>
      </a>
      <a class="text-white me-4" href="">
        <i class="fab fa-linkedin"></i>
      </a>
      <a class="text-white me-4" href="">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>

  <section>
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-4">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold underline-text">Lucky Paws Rescue</h6>
          <img
            [src]="'assets/images/LPR_Logo.png'"
            alt="Lucky Paws Logo"
            width="40"
          />
          <p>
            Welcome to our adoption center virtual gateway, the perfect place for you to find your
            forever furry companion. Feel free to explore our
            resources and learn more about the adoption process.
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold underline-text">Opening hours</h6>
          <p>MONDAY TO FRIDAY</p>
          <p>09:00 AM TO 17:00 PM</p>
          <p>SATURDAY TO SUNDAY</p>
          <p>9:00 AM TO 12:00 PM</p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold underline-text">Might be interested:</h6>
          <p><a class="text-white" href="#!">About us</a></p>
          <p><a class="text-white" href="#!">Events</a></p>
          <p><a class="text-white" href="#!">Donations</a></p>
          <p><a class="text-white" href="#!">Terms&Conditions</a></p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold underline-text">Contact</h6>
          <p><i class="fas fa-home mr-3"></i> Timisoara, 300013, Romania</p>
          <p><i class="fas fa-envelope mr-3"></i> luckypaws@gmail.com</p>
          <p><i class="fas fa-phone mr-3"></i> + 40 724 155 879</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-3">
    © 2023 All rights reserved. LuckyPawsRescue.com
  </div>
</footer>


