<app-alert></app-alert>
<div class="card">
  <div class="row">
    <h4 class="card-header">
      <mat-icon class="icon-display">pets</mat-icon>
      Welcome to Lucky Paws Rescue Login
      <mat-icon class="icon-display">pets</mat-icon>
    </h4>
    <div class="col-md-5">
      <img
        [src]="'assets/images/LPR_login.png'"
        alt="Lucky Paws Logo"
        height="100%"
        width="100%"
      />
    </div>
    <div class="col-md-7 right-column">

      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div class="form-group">
            <svg class='fontawesome' viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
            </svg>
            <label class="form-text">Username</label>
            <input [ngClass]="{ 'is-invalid': submitted && loginForm.controls.username.errors}"
                   class="form-control"
                   formControlName="username" placeholder="Enter your phone username"
                   type="text"/>
            <div *ngIf="submitted && loginForm.controls.username.errors" class="invalid-feedback">
              <div *ngIf="loginForm.controls.username.errors?.['required']">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <svg class='fontawesome' viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/>
            </svg>
            <label class="form-text">Password</label>
            <input [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors}" class="form-control"
                   formControlName="password" placeholder="Enter your password"
                   type="password"/>
            <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
              <div *ngIf="loginForm.controls.password.errors?.['required']">Password is required</div>
            </div>
          </div>
          <button class="btn btn-outline-warning sign-in-btn" mat-raised-button>
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Sign in
          </button>
          <a class="btn btn-link" routerLink="../register">New to our page? Create your account!</a>
        </form>
      </div>
    </div>
  </div>
</div>

