<div class="container-fluid">
  <div class="row">

    <div class="col-md-12 mt-5">

      <div class="card p-3">
        <h2 class="text">Adoptions View List </h2>
        <div class="card-body shadow">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Phone number</th>
              <th scope="col">Picking Date</th>
              <th scope="col">Animal Name</th>
              <th scope="col">Status</th>
              <th id="actions" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button class="btn btn-outline-success" type="button">Accept</button>
                <button class="btn btn-outline-danger" type="button">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
  <!--  <div class="row-cols-1"><h3>Green Store</h3></div>-->
  <!--  <div class="row-cols-1"><h3>Green Store</h3></div>-->

</div>






