<mat-card class="pet-card">
  <mat-card-header>
    <div class="header-image" mat-card-avatar></div>
    <mat-card-title>Animal name</mat-card-title>
    <mat-card-subtitle>Animal breed</mat-card-subtitle>
  </mat-card-header>
  <img alt="Photo of a Shiba Inu" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <mat-card-content>
    <div class="row">
      <div class="col-6">
        <p>ssdkjkjdkjddklfkjfdkjfdfkdddddddddddddddddddddddddddddddd</p>
      </div>
      <div class="col-6">
        <p>fjjffdkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>
      </div>
    </div>
    <!--    <p>-->
    <!--      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
    <!--      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
    <!--      bred for hunting.-->
    <!--    </p>-->
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" extended mat-fab>
      Adopt me
    </button>
  </mat-card-actions>
</mat-card>

