<div class="toolbar" role="banner">
  <img
    [src]="'assets/images/LPR_Logo.png'"
    alt="Lucky Paws Logo"
    width="50"
  />
  <span>Lucky Paws Rescue</span>
  <span class="spacer"></span>
  <ng-template [ngIf]="!isLoggedIn() || (isLoggedIn() && getRole() === 'USER')">
    <button (click)="selectNavBarTab(1)" [class.mat-active]="isTabSelected(1)" mat-button routerLink="../home"
            routerLinkActive="active">
      <mat-icon class="icon-display">home</mat-icon>
      Home
    </button>
    <button (click)="selectNavBarTab(2)" [class.mat-active]="isTabSelected(2)" mat-button routerLink="../pets"
            routerLinkActive="active">
      <mat-icon class="icon-display">pets</mat-icon>
      Pets
    </button>
    <button (click)="selectNavBarTab(3)" *ngIf="isLoggedIn() && getRole() === 'USER'"
            [class.mat-active]="isTabSelected(3)"
            mat-button
            routerLink="../my_adoptions"
            routerLinkActive="active">
      <mat-icon>favorite</mat-icon>
      Adoptions
    </button>
  </ng-template>

  <ng-template [ngIf]="isLoggedIn() && getRole() === 'ADMIN'">
    <button [class.mat-active]="true" mat-button routerLink="../adoptions"
            routerLinkActive="active">
      <mat-icon class="icon-display">home</mat-icon>
      Adoption Requests
    </button>
  </ng-template>

  <span class="spacer"></span>
  <button (click)="selectNavBarTab(4)" *ngIf="!isLoggedIn(); else elseBlock" [class.mat-active]="isTabSelected(4)"
          class="auth-buttons" mat-raised-button
          routerLink="../login"
          routerLinkActive="active">
    <mat-icon class="icon-display">perm_identity</mat-icon>
    Log in
  </button>

  <ng-template #elseBlock>
    <span class="username">Hello, {{getUserName()}}!</span>
    <button (click)="logOut()" class="auth-buttons"
            id="logout_btn" mat-raised-button
            routerLink="../home">
      Log out
    </button>
  </ng-template>

</div>
