.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #5E35B1;
  color: white;
  font-weight: 600;
  font-size: 1.3em;
  position: fixed;
  z-index: 1;
}

.toolbar img {
  margin: 0 16px;
}

.spacer {
  flex: 1;
}

button {
  margin-left: 2%;
  margin-right: 2%;
  font-size: 1.1em;
}

span {
  font-size: 1.2em;
}

.active {
  color: #FFE082;
  text-decoration: underline;
}

#logout_btn:hover {
  color: #FFE082;
  text-decoration: underline;
}

.username {
  font-size: 1em;
}

.auth-buttons {
  margin-right: 4%;
}



